.row.standard-heading
  .col-md-12
    %h1 Search Results

.row.standard-summary
  .col-md-12
    %p
      Displaying <b>#{pluralize(@search.results.count, 'result')}</b> by matching <b>#{params[:match_type]}</b> of the following criteria:
      - if @search.criteria.present?
        %ul
          - if params[:keywords].present?
            %li Keywords: #{params[:keywords].split.join(', ')}
          - Game::TAGS.each do |tag_class|
            - tags = @search.criteria.select { |criteria| criteria[:category] == tag_class.symbol_pluralized }
            - if tags.present?
              %li #{tag_class.pluralized}: #{tags.map { |word| "<b>#{word[:criteria]}</b>" }.join(', ').html_safe}
      - else
        %ul
          %li
            %em No criteria provided
      %hr

  .col-md-12.standard-list
    - if @search.results.present?
      - @search.results.each do |result|
        :ruby
          game           = result[:game]
          elastic_search = result[:elastic_search]
          criteria       = result[:criteria]
        .row.standard-list-item
          .game-img.col-sm-3.col-xs-5.col-xxs-12
            = image_tag game.game_images.first.image.url(:small) if game.game_images?
          .search-results.game-details.col-sm-9.col-xs-7.col-xxs-12
            %h2= link_to_by_name game
            -# TODO: make `game.published_developers` work instead of `game.developers(&:published)` using eager loading
            %h3= link_to_by_names game.developers(&:published)
            %p
              - if elastic_search && elastic_search.highlight.long_description.present?
                = elastic_search.highlight.long_description.join.html_safe
              - else
                = game.shortened_description

            - if params[:match_type] == 'any'
              .game-tags
                - Game::TAGS.each do |tag_class|
                  - criteria.select { |criterion| criterion[:category] == tag_class.symbol_pluralized }.each do |tag_criteria|
                    - tag = tag_class.find_by_name(tag_criteria[:criteria])
                    = link_to_by_name tag, class: tag_class.css_class

    - else
      %p
        %b No Results

  .col-md-12
    %hr
    %p= link_to 'Advanced Search Options', search_path

= render 'shared/explore_tags'
