.row.standard-heading
  .col-md-12
    %h1 Recently Added Games

.standard-list
  - @recent_games.each do |game|
    .row.standard-list-item
      .col-md-3= image_tag game.game_images.first.image.url(:small) if game.game_images?
      .col-md-9
        %h2= link_to_by_name game
        %h3= link_to_by_names game.published_developers
        %p= game.shortened_description

= render 'shared/explore_tags'
