#new-game

  %h1 New Game

  - if @game.errors.any?
    .errors
      There was an issue with your submission. Please address below and submit again.

  = form_for @game do |f|

    %fieldset
      = f.label :name
      = f.text_field :name
      = f.error_span :name

    %fieldset
      = f.label :long_description, 'Description'
      = f.text_area :long_description
      = f.error_span :long_description

    %fieldset
      = f.label :developer
      = f.select :developers, options_from_collection_for_select(Creator.published, :id, :name, include_blank: true)

    = f.submit 'Submit Game', class: 'btn btn-primary'
