#new-game

  %h1 New Game

  - if @game.errors.any?
    .errors
      = issue_with_submission_message(@game.errors)
      %br
      Please address the following and submit again:
      %ul
        - @game.errors.messages.each do |_attribute, message|
          %li= message.first

  = form_for @game do |f|

    %fieldset
      = f.label :name
      = f.text_field :name
      = f.error_span :name

    %fieldset
      = f.label :long_description, 'Description'
      = f.text_area :long_description
      = f.error_span :long_description

    %fieldset
      = f.label :engine_id
      = f.select :engine_id, options_from_collection_for_select(Engine.all, :id, :name), include_blank: true

    %fieldset
      = f.label :series_id
      = f.select :series_id, options_from_collection_for_select(Series.all, :id, :name), include_blank: true

    %h4 Number of Players

    %fieldset
      = f.label :minimum_number_of_players, 'Minimum'
      = f.number_field :minimum_number_of_players
      = f.error_span :minimum_number_of_players

    %fieldset
      = f.label :maximum_number_of_players, 'Maximum'
      = f.number_field :maximum_number_of_players
      = f.error_span :maximum_number_of_players

    %h4 Play Modes

    %fieldset.check-box
      = f.check_box :local_play
      = f.label :local_play

    %fieldset.check-box
      = f.check_box :online_play
      = f.label :online_play

    %fieldset.check-box
      = f.check_box :coop_play
      = f.label :coop_play

    %fieldset.check-box
      = f.check_box :competitive_play
      = f.label :competitive_play

    %h4 Pricing Models

    %fieldset.check-box
      = f.check_box :free
      = f.label :free

    %fieldset.check-box
      = f.check_box :freemium
      = f.label :freemium

    %fieldset.check-box
      = f.check_box :free_trial
      = f.label :free_trial

    %fieldset.check-box
      = f.check_box :donation
      = f.label :donation

    %fieldset.check-box
      = f.check_box :ads
      = f.label :ads

    %fieldset.check-box
      = f.check_box :pay
      = f.label :pay

    %fieldset.check-box
      = f.check_box :not_available
      = f.label :not_available, 'Game not yet on market'

    - [Platform, Genre, Style, Theme, Community].each do |game_tag|
      %h4= game_tag.pluralized
      = f.collection_check_boxes(game_tag.symbol_ids, game_tag.all, :id, :name) do |tag|
        %fieldset.check-box
          = tag.check_box
          = tag.label

    %h4 Creator Info

    %fieldset
      = f.label :developer_ids, 'Developers'
      = f.select :developer_ids, options_from_collection_for_select(Creator.published, :id, :name, selected: @game.developer_ids), {}, multiple: true
      %br
      %i Hold CMD/CTRL to select more than one.

    %fieldset
      = f.label :publisher_ids, 'Publishers'
      = f.select :publisher_ids, options_from_collection_for_select(Creator.published, :id, :name, selected: @game.publisher_ids), {}, multiple: true
      %br
      %i Hold CMD/CTRL to select more than one.

    %fieldset
      = f.label :initial_release_on, 'Initial Release Date'
      = f.date_field :initial_release_on

    %h4 Submission Details

    %fieldset
      = f.label :submission_notes, "Any further notes to add?<br>Feel free to include game tags, web links, links to images and videos, creator info and any other details that weren't captured by the form:".html_safe
      = f.text_area :submission_notes

    %fieldset
      = f.label :submitted_by_contact_info, 'May we follow-up with you if we need more info?<br>If so, please leave an email or phone number:'.html_safe
      = f.text_field :submitted_by_contact_info

    = f.submit 'Submit Game', class: 'btn btn-primary'
