.container.title
  %h1 Toronto Videogame Database
.main-nav
  .container
    .main-nav-inner-container
      %ul
        = nav_link 'Home', root_path
        = nav_link 'Games', games_path
        = nav_link 'Creators', creators_path
        = nav_link 'Tags', tags_path
        = nav_link 'Advanced Search', search_path
        = nav_link 'Submit Game', new_game_path

      = form_tag search_results_path, method: :get, class: 'form-inline search-database' do
        %label{ for: 'keywords' }
          %i.fa.fa-2x.fa-search
        %input.form-control#q{ name: 'keywords', placeholder: 'Search the database', type: 'text' }
        = hidden_field_tag 'match_type', 'all'
        %button.btn.btn-primary{ type: 'submit' } Search
